/*fonts*/
/*fonts*/
/*colors*/
/*colors*/
/*container*/
/*container*/
/*mixin*/
/*mixin*/
/*Normalize*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  position: relative;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

/*Normalize*/
/*common css*/
.main_container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  position: relative;
}

/*common css*/
.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.service_focus {
  transform: scale(1.05);
  background-color: #c1e698;
}

.service_nonefocus {
  filter: blur(10px);
}

.button_focus {
  background-color: #e06733;
  color: white;
}

.arrow_focus {
  transition: transform 0.5s;
  transform: rotate(180deg);
  background-color: #c1e698;
}

header {
  background-color: #edf2ec;
  padding: 43px 0px;
}
@media screen and (max-width: 768px) {
  header {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
@media screen and (max-width: 380px) {
  header {
    padding-top: 34px;
    padding-bottom: 34px;
  }
}
header .header_container {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-family: "Inika", sans-serif;
  font-weight: 400;
}
@media screen and (max-width: 1219px) {
  header .header_container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 768px) {
  header .header_container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 380px) {
  header .header_container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
header .header_container div {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 750px) {
  header .header_container div {
    align-items: flex-end;
  }
}
header .header_container div p:hover {
  transition: transform 0.5s;
  transform: scale(1.2);
}
header .header_container div p:active {
  transition: transform 0.5s;
  transform: rotate(180deg);
}
header .header_container div p a {
  color: #010201;
}
header .header_container div p a:hover {
  color: #e06733;
}
header .header_container div p a:active {
  color: #499a18;
}
header .header_container .nav_container {
  line-height: 50px;
}
@media screen and (max-width: 750px) {
  header .header_container .nav_container {
    display: none;
  }
}
header .header_container .nav_container ul {
  display: flex;
  gap: 47px;
}
header .header_container .nav_container ul li {
  cursor: pointer;
}
header .header_container .nav_container ul li:hover {
  transition: transform 0.5s;
  transform: scale(1.2);
}
header .header_container .nav_container ul li:active {
  transition: transform 0.5s;
  transform: rotate(180deg);
}
header .header_container .nav_container ul li a {
  color: #010201;
}
header .header_container .nav_container ul li a:hover {
  color: #e06733;
}
header .header_container .nav_container ul li a:active {
  color: #499a18;
}
header .header_container .nav_container ul .home_item {
  color: #e06733;
}
header .header_container .burger {
  display: none;
}
@media screen and (max-width: 750px) {
  header .header_container .burger {
    display: block;
  }
  header .header_container .burger .burger_image {
    max-width: 40px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  header .header_container .burger .burger_image:hover {
    transform: scale(1.2);
  }
  header .header_container .burger .burger_image .burger_line {
    width: 40px;
    height: 2px;
    background-color: #717171;
  }
  header .header_container .burger .burger_menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    padding: 20px 30px 20px 30px;
    background-color: #c1e698;
    border-radius: 10px;
    transition: all 1s ease;
    z-index: 3;
  }
  header .header_container .burger .burger_menu .burger_close {
    box-sizing: border-box;
    padding: 3px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    border: 1px solid #717171;
    border-radius: 5px;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  header .header_container .burger .burger_menu .burger_close:hover {
    transform: scale(1.2);
    background-color: #edf2ec;
  }
  header .header_container .burger .burger_menu .burger_close .close_line {
    width: 40px;
    height: 2px;
    background-color: #717171;
    transition: all 0.5s ease;
  }
  header .header_container .burger .burger_menu .burger_close .line-one {
    position: relative;
    transform: rotate(45deg);
    top: 15px;
  }
  header .header_container .burger .burger_menu .burger_close .line-two {
    position: relative;
    transform: rotate(-45deg);
    top: -16px;
  }
  header .header_container .burger .burger_menu .burger_nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  header .header_container .burger .burger_menu .burger_nav ul li {
    cursor: pointer;
  }
  header .header_container .burger .burger_menu .burger_nav ul li:hover {
    transition: transform 0.5s;
    transform: scale(1.2);
  }
  header .header_container .burger .burger_menu .burger_nav ul li:active {
    transition: transform 0.5s;
    transform: rotate(180deg);
  }
  header .header_container .burger .burger_menu .burger_nav ul li a {
    color: #010201;
  }
  header .header_container .burger .burger_menu .burger_nav ul li a:hover {
    color: #e06733;
  }
  header .header_container .burger .burger_menu .burger_nav ul li a:active {
    color: #499a18;
  }
  header .header_container .burger .burger_menu .burger_nav ul .home_item {
    color: #e06733;
  }
}

main {
  flex: 1 1 auto;
}

.welcome_section {
  background-color: #edf2ec;
}
.welcome_section .welcome_container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 57px 0px 60px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #636060;
}
@media screen and (max-width: 1219px) {
  .welcome_section .welcome_container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 768px) {
  .welcome_section .welcome_container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 380px) {
  .welcome_section .welcome_container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 900px) {
  .welcome_section .welcome_container {
    padding-top: 40px;
  }
}
@media screen and (max-width: 1100px) {
  .welcome_section .welcome_container {
    gap: 10px;
  }
}
@media screen and (max-width: 768px) {
  .welcome_section .welcome_container {
    padding-top: 38px;
    padding-bottom: 70px;
  }
}
@media screen and (max-width: 380px) {
  .welcome_section .welcome_container {
    padding-top: 28px;
    padding-bottom: 24px;
  }
}
.welcome_section .welcome_container .leaves_block {
  max-width: 450px;
}
@media screen and (max-width: 1100px) {
  .welcome_section .welcome_container .leaves_block {
    order: 2;
    max-width: 375px;
  }
}
@media screen and (max-width: 900px) {
  .welcome_section .welcome_container .leaves_block {
    order: 2;
    max-width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .welcome_section .welcome_container .leaves_block {
    align-self: flex-start;
    max-width: 280px;
    max-height: 254px;
  }
}
@media screen and (max-width: 750px) {
  .welcome_section .welcome_container .leaves_block {
    max-width: 250px;
  }
}
@media screen and (max-width: 650px) {
  .welcome_section .welcome_container .leaves_block {
    display: none;
  }
}
.welcome_section .welcome_container .leaves_block .leaf {
  max-width: 450px;
}
@media screen and (max-width: 1100px) {
  .welcome_section .welcome_container .leaves_block .leaf {
    max-width: 375px;
  }
}
@media screen and (max-width: 900px) {
  .welcome_section .welcome_container .leaves_block .leaf {
    max-width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .welcome_section .welcome_container .leaves_block .leaf {
    max-width: 280px;
  }
}
@media screen and (max-width: 750px) {
  .welcome_section .welcome_container .leaves_block .leaf {
    max-width: 250px;
  }
}
.welcome_section .welcome_container .text_block {
  max-width: 545px;
  max-height: 340px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
@media screen and (max-width: 1100px) {
  .welcome_section .welcome_container .text_block {
    gap: 30px;
  }
}
@media screen and (max-width: 900px) {
  .welcome_section .welcome_container .text_block {
    gap: 15px;
  }
}
@media screen and (max-width: 768px) {
  .welcome_section .welcome_container .text_block {
    gap: 30px;
    max-width: 340px;
  }
}
@media screen and (max-width: 750px) {
  .welcome_section .welcome_container .text_block {
    gap: 20px;
  }
}
@media screen and (max-width: 650px) {
  .welcome_section .welcome_container .text_block {
    max-width: 100%;
  }
}
.welcome_section .welcome_container .text_block h1 {
  font-weight: 700;
  font-size: 281.25%;
  line-height: 50px;
}
@media screen and (max-width: 768px) {
  .welcome_section .welcome_container .text_block h1 {
    font-size: 218.75%;
  }
}
@media screen and (max-width: 500px) {
  .welcome_section .welcome_container .text_block h1 {
    font-size: 156.25%;
    line-height: 35px;
  }
}
.welcome_section .welcome_container .text_block h1 span {
  color: #499a18;
}
.welcome_section .welcome_container .text_block p {
  font-weight: 400;
  font-size: 125%;
  line-height: 35px;
  padding-bottom: 5px;
}
@media screen and (max-width: 768px) {
  .welcome_section .welcome_container .text_block p {
    font-size: 100%;
    line-height: 25px;
    padding-bottom: 0px;
    padding-left: 3.5px;
  }
}
@media screen and (max-width: 380px) {
  .welcome_section .welcome_container .text_block p {
    padding-left: 0px;
  }
}
.welcome_section .welcome_container .text_block button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 20px;
  width: 158px;
  height: 44px;
  text-transform: uppercase;
  padding: 10px 25px;
  color: #010201;
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-color: #e06733;
  border-radius: 10px;
  background-color: #edf2ec;
}
@media screen and (max-width: 500px) {
  .welcome_section .welcome_container .text_block button {
    font-size: 62.5%;
    line-height: 16px;
    padding: 8px 16px;
    width: 100px;
    height: 34px;
  }
}
.welcome_section .welcome_container .text_block button:hover {
  background-color: #e06733;
  color: white;
}
.welcome_section .welcome_container .text_block button:active {
  background-color: #499a18;
  color: white;
}
@media screen and (max-width: 768px) {
  .welcome_section .welcome_container .text_block button {
    margin-top: 5px;
  }
}
@media screen and (max-width: 380px) {
  .welcome_section .welcome_container .text_block button {
    margin-top: 6px;
  }
}

.about_section .about_container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 93px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #636060;
}
@media screen and (max-width: 1219px) {
  .about_section .about_container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 768px) {
  .about_section .about_container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 380px) {
  .about_section .about_container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 1100px) {
  .about_section .about_container {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .about_section .about_container {
    padding-top: 40px;
    gap: 70px;
  }
}
@media screen and (max-width: 380px) {
  .about_section .about_container {
    padding-top: 30px;
    gap: 0px;
    padding-bottom: 25px;
  }
}
.about_section .about_container .text_block {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 605px;
}
@media screen and (max-width: 768px) {
  .about_section .about_container .text_block {
    max-width: 668px;
    padding-top: 0px;
    gap: 50px;
  }
}
@media screen and (max-width: 380px) {
  .about_section .about_container .text_block {
    gap: 14px;
  }
}
.about_section .about_container .text_block h2 {
  max-width: 460px;
  font-family: "Inika", sans-serif;
  font-weight: 400;
  font-size: 250%;
  line-height: 52px;
  color: #499a18;
}
@media screen and (max-width: 1100px) {
  .about_section .about_container .text_block h2 {
    text-align: center;
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .about_section .about_container .text_block h2 {
    max-width: 423px;
    align-self: center;
    font-size: 218.75%;
    line-height: 46px;
  }
}
@media screen and (max-width: 500px) {
  .about_section .about_container .text_block h2 {
    font-size: 156.25%;
    line-height: 33px;
  }
}
.about_section .about_container .text_block h2 span {
  color: #e06733;
}
.about_section .about_container .text_block p {
  font-weight: 400;
  font-size: 125%;
  line-height: 30px;
}
@media screen and (max-width: 500px) {
  .about_section .about_container .text_block p {
    font-size: 93.75%;
    line-height: 25px;
  }
}
@media screen and (max-width: 768px) {
  .about_section .about_container .flower_block {
    max-width: 250px;
  }
}
@media screen and (max-width: 380px) {
  .about_section .about_container .flower_block {
    max-width: 150px;
  }
}
@media screen and (max-width: 768px) {
  .about_section .about_container .flower_block .flower {
    width: 250px;
  }
}
@media screen and (max-width: 380px) {
  .about_section .about_container .flower_block .flower {
    max-width: 150px;
  }
}

.service_section {
  background-color: #edf2ec;
}
.service_section .service_container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 40px 0px 118px 0px;
  display: flex;
  flex-direction: column;
  gap: 82px;
}
@media screen and (max-width: 1219px) {
  .service_section .service_container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 768px) {
  .service_section .service_container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 380px) {
  .service_section .service_container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 768px) {
  .service_section .service_container {
    padding-top: 60px;
    gap: 42px;
    padding-bottom: 70px;
  }
}
@media screen and (max-width: 380px) {
  .service_section .service_container {
    padding-top: 30px;
    gap: 39px;
    padding-bottom: 27px;
  }
}
.service_section .service_container .navigation_block {
  font-family: "Inika", sans-serif;
  display: flex;
  align-items: center;
  gap: 142px;
}
@media screen and (max-width: 1100px) {
  .service_section .service_container .navigation_block {
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
  }
}
.service_section .service_container .navigation_block h2 {
  max-width: 305px;
  font-weight: 400;
  font-size: 250%;
  line-height: 52px;
  color: #499a18;
}
@media screen and (max-width: 768px) {
  .service_section .service_container .navigation_block h2 {
    font-size: 218.75%;
    line-height: 46px;
  }
}
@media screen and (max-width: 500px) {
  .service_section .service_container .navigation_block h2 {
    font-size: 156.25%;
    line-height: 33px;
    max-width: 187px;
  }
}
.service_section .service_container .navigation_block .buttons_block {
  padding-top: 5px;
  display: flex;
  gap: 39px;
}
@media screen and (max-width: 768px) {
  .service_section .service_container .navigation_block .buttons_block {
    padding-top: 0px;
  }
}
@media screen and (max-width: 750px) {
  .service_section .service_container .navigation_block .buttons_block {
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media screen and (max-width: 500px) {
  .service_section .service_container .navigation_block .buttons_block {
    row-gap: 9px;
  }
}
.service_section .service_container .navigation_block .buttons_block button {
  font-family: "Inika", sans-serif;
  font-weight: 400;
  font-size: 125%;
  line-height: 26px;
  width: 160px;
  height: 50px;
  padding: 12px 40px;
  color: #e06733;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: #e06733;
  border-radius: 5px;
  background-color: #edf2ec;
  /*&:hover {
    @include buttonhover($orange, $white);
  }

  &:active {
    @include buttonactive($green, $white);
  }*/
  /*&:focus {
    background-color: $orange;
    color: $white;
  }*/
}
@media screen and (max-width: 500px) {
  .service_section .service_container .navigation_block .buttons_block button {
    font-size: 93.75%;
    line-height: 20px;
    padding: 8px 28px;
    width: 121px;
    height: 35px;
  }
}
.service_section .service_container .services_block {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 117px;
  grid-row-gap: 52px;
}
@media screen and (max-width: 1100px) {
  .service_section .service_container .services_block {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .service_section .service_container .services_block {
    grid-column-gap: 107px;
    grid-row-gap: 37px;
  }
}
@media screen and (max-width: 650px) {
  .service_section .service_container .services_block {
    grid-column-gap: 50px;
    grid-row-gap: 37px;
  }
}
@media screen and (max-width: 500px) {
  .service_section .service_container .services_block {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 380px) {
  .service_section .service_container .services_block {
    padding-left: 25px;
    padding-right: 25px;
    grid-row-gap: 33.5px;
  }
}
.service_section .service_container .services_block .service_card {
  border: 1px solid #e3e1d5;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  position: relative;
  padding-bottom: 38px;
  transition: all 0.5s ease;
}
@media screen and (max-width: 768px) {
  .service_section .service_container .services_block .service_card {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 380px) {
  .service_section .service_container .services_block .service_card {
    padding-bottom: 20px;
  }
}
.service_section .service_container .services_block .service_card .image_block {
  position: relative;
  background-position: 0 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.service_section .service_container .services_block .service_card .image_block .card_image {
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.service_section .service_container .services_block .service_card .image_block .mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .service_section .service_container .services_block .service_card .image_block .mobile {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .service_section .service_container .services_block .service_card .image_block .desktop {
    display: none;
  }
}
.service_section .service_container .services_block .card_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  line-height: 20px;
}
.service_section .service_container .services_block .card_text h3 {
  font-weight: 700;
  font-size: 125%;
  color: #e06733;
}
.service_section .service_container .services_block .card_text p {
  font-size: 100%;
  color: #636060;
  padding-top: 15px;
}
@media screen and (max-width: 768px) {
  .service_section .service_container .services_block .card_text p {
    padding-top: 10px;
    max-width: 203px;
    text-align: center;
  }
}

.prices_section .prices_container {
  color: #000000;
  max-width: 1220px;
  margin: 0 auto;
  padding: 40px 0px 120px 0px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1219px) {
  .prices_section .prices_container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 768px) {
  .prices_section .prices_container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 380px) {
  .prices_section .prices_container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 768px) {
  .prices_section .prices_container {
    padding-top: 38px;
    padding-bottom: 88px;
  }
}
@media screen and (max-width: 750px) {
  .prices_section .prices_container {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 380px) {
  .prices_section .prices_container {
    padding-top: 25px;
    padding-bottom: 40px;
  }
}
.prices_section .prices_container .prices_block {
  display: flex;
  flex-direction: column;
  gap: 59px;
}
@media screen and (max-width: 768px) {
  .prices_section .prices_container .prices_block {
    gap: 57px;
  }
}
@media screen and (max-width: 380px) {
  .prices_section .prices_container .prices_block {
    gap: 37px;
  }
}
.prices_section .prices_container .prices_block h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 250%;
  line-height: 48px;
}
@media screen and (max-width: 768px) {
  .prices_section .prices_container .prices_block h2 {
    font-size: 218.75%;
    line-height: 42px;
    padding-left: 13px;
  }
}
@media screen and (max-width: 750px) {
  .prices_section .prices_container .prices_block h2 {
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .prices_section .prices_container .prices_block h2 {
    font-size: 156.25%;
    line-height: 30px;
    padding-left: 0px;
  }
}
.prices_section .prices_container .prices_block .choise_block {
  display: flex;
  flex-direction: column;
  gap: 31px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  padding: 35px 39px 33px 41px;
  transition: all 0.5s ease;
}
@media screen and (max-width: 380px) {
  .prices_section .prices_container .prices_block .choise_block {
    padding: 28px 22px;
    gap: 14px;
  }
}
.prices_section .prices_container .prices_block .choise_block .choise {
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
}
.prices_section .prices_container .prices_block .choise_block .choise .choise_title {
  display: flex;
  justify-content: space-between;
  width: 250px;
  height: 50px;
  background-color: #edf2ec;
  border-radius: 20px;
  padding: 16px 40px;
  transition: all 0.5s ease-out;
}
@media screen and (max-width: 380px) {
  .prices_section .prices_container .prices_block .choise_block .choise .choise_title {
    width: 180px;
    padding: 16px 40px 16px 29px;
  }
}
.prices_section .prices_container .prices_block .choise_block .choise .choise_title h3 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 125%;
  line-height: 20px;
}
@media screen and (max-width: 500px) {
  .prices_section .prices_container .prices_block .choise_block .choise .choise_title h3 {
    font-size: 93.75%;
  }
}
.prices_section .prices_container .prices_block .choise_block .choise .arrow_circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
@media screen and (max-width: 380px) {
  .prices_section .prices_container .prices_block .choise_block .choise .arrow_circle {
    align-self: center;
    margin-top: 3px;
  }
  .prices_section .prices_container .prices_block .choise_block .choise .arrow_circle .arrow {
    width: 8px;
    height: 5px;
  }
}
.prices_section .prices_container .prices_block .choise_block .choise_price {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 250px;
  font-family: "Inter", sans-serif;
  padding: 0px 40px 0px 40px;
  background-color: #d6e7d2;
  border-radius: 20px;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s ease-out;
}
.prices_section .prices_container .prices_block .choise_block .choise_price .price_line {
  background-color: #aea1a1;
  height: 1px;
  min-height: 1px;
}
.prices_section .prices_container .prices_block .choise_block .choise_price .price_text {
  font-weight: 300;
  font-size: 62.5%;
  line-height: 10px;
  color: #717171;
}
.prices_section .prices_container .prices_block .choise_block .choise_price .price {
  padding-bottom: 6px;
  font-weight: 400;
  font-size: 75%;
  line-height: 20px;
  color: #000000;
}
.prices_section .prices_container .prices_block .choise_block .choise_price .price span {
  font-weight: 700;
  font-size: 100%;
  line-height: 20px;
  color: #e06733;
}
.prices_section .prices_container .prices_block .choise_block .choise_price .price_button {
  width: 86px;
  padding: 3px 20px 3px 20px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 87.5%;
  line-height: 20px;
  color: #717171;
  margin-bottom: 12px;
}
.prices_section .prices_container .text_block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 39px;
}
@media screen and (max-width: 768px) {
  .prices_section .prices_container .text_block {
    padding-top: 102px;
  }
}
@media screen and (max-width: 750px) {
  .prices_section .prices_container .text_block {
    padding-top: 19px;
  }
}
@media screen and (max-width: 768px) {
  .prices_section .prices_container .text_block {
    gap: 25px;
  }
}
@media screen and (max-width: 750px) {
  .prices_section .prices_container .text_block {
    align-items: center;
  }
}
@media screen and (max-width: 380px) {
  .prices_section .prices_container .text_block {
    padding-top: 0px;
    max-width: 230px;
    gap: 19px;
  }
}
.prices_section .prices_container .text_block h3 {
  max-width: 500px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 250%;
  line-height: 50px;
  text-align: right;
  color: #000000;
}
@media screen and (max-width: 768px) {
  .prices_section .prices_container .text_block h3 {
    font-size: 156.25%;
    line-height: 35px;
  }
}
@media screen and (max-width: 750px) {
  .prices_section .prices_container .text_block h3 {
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .prices_section .prices_container .text_block h3 {
    font-size: 125%;
  }
}
.prices_section .prices_container .text_block h3 span {
  color: #499a18;
}
.prices_section .prices_container .text_block button {
  font-family: "Inika", sans-serif;
  font-weight: 400;
  font-size: 125%;
  line-height: 26px;
  width: 160px;
  height: 50px;
  padding: 12px 40px;
  color: #e06733;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: #e06733;
  border-radius: 5px;
  background-color: #edf2ec;
  padding: 12px 0px 12px 30px;
  font-weight: 700;
  text-align: left;
  background-color: white;
}
@media screen and (max-width: 500px) {
  .prices_section .prices_container .text_block button {
    font-size: 93.75%;
    line-height: 20px;
    padding: 8px 28px;
    width: 121px;
    height: 35px;
  }
}
@media screen and (max-width: 500px) {
  .prices_section .prices_container .text_block button {
    padding: 8px 22px;
  }
}
.prices_section .prices_container .text_block button:hover {
  background-color: #e06733;
  color: white;
}
.prices_section .prices_container .text_block button:active {
  background-color: #499a18;
  color: white;
}
.prices_section .prices_container .text_block .small_leafs {
  max-width: 152px;
  max-height: 175px;
}
@media screen and (max-width: 768px) {
  .prices_section .prices_container .text_block .small_leafs {
    margin-top: 15px;
  }
}
@media screen and (max-width: 768px) and (max-width: 380px) {
  .prices_section .prices_container .text_block .small_leafs {
    display: none;
  }
}

.contacts_section {
  background-color: #edf2ec;
}
.contacts_section .contacts_container {
  padding-top: 52px;
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1219px) {
  .contacts_section .contacts_container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 768px) {
  .contacts_section .contacts_container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 380px) {
  .contacts_section .contacts_container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 1100px) {
  .contacts_section .contacts_container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
  }
}
@media screen and (max-width: 768px) {
  .contacts_section .contacts_container {
    padding-top: 45px;
    gap: 105px;
  }
}
@media screen and (max-width: 380px) {
  .contacts_section .contacts_container {
    padding-top: 25px;
    gap: 80px;
  }
}
@media screen and (max-width: 768px) {
  .contacts_section .contacts_container .contacts_image {
    max-height: 248px;
    margin-top: 145px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 500px) {
  .contacts_section .contacts_container .contacts_image {
    margin-top: 0px;
  }
}
@media screen and (max-width: 380px) {
  .contacts_section .contacts_container .contacts_image {
    max-height: 124.25px;
    margin-top: 53px;
    margin-left: -5px;
  }
}
@media screen and (max-width: 1100px) {
  .contacts_section .contacts_container .text_block {
    order: 1;
  }
}
.contacts_section .contacts_container .text_block h2 {
  padding-top: 7px;
  padding-left: 45px;
  font-family: "Inika", sans-serif;
  font-weight: 700;
  font-size: 250%;
  line-height: 52px;
  color: #499a18;
}
@media screen and (max-width: 768px) {
  .contacts_section .contacts_container .text_block h2 {
    padding-top: 0px;
    line-height: 40px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 500px) {
  .contacts_section .contacts_container .text_block h2 {
    font-size: 156.25%;
    line-height: 33px;
  }
}
.contacts_section .contacts_container .choise_block {
  padding-top: 95px;
}
@media screen and (max-width: 1100px) {
  .contacts_section .contacts_container .choise_block {
    padding-top: 0px;
  }
}
.contacts_section .contacts_container .choise_block .choise {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  height: 50px;
  background-color: #d6e7d2;
  padding: 5px 35px 5px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1150px) {
  .contacts_section .contacts_container .choise_block .choise {
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .contacts_section .contacts_container .choise_block .choise {
    width: 450px;
  }
}
@media screen and (max-width: 500px) {
  .contacts_section .contacts_container .choise_block .choise {
    max-width: 350px;
  }
}
@media screen and (max-width: 380px) {
  .contacts_section .contacts_container .choise_block .choise {
    max-width: 300px;
    padding-right: 23px;
  }
}
.contacts_section .contacts_container .choise_block .choise h3 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 125%;
  line-height: 40px;
  letter-spacing: 0.05em;
}
.contacts_section .contacts_container .choise_block .choise .arrow_circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #aea1a1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.contacts_section .contacts_container .choise_block .choise .arrow_circle:hover {
  transition: transform 0.5s;
  transform: scale(1.2);
}
.contacts_section .contacts_container .choise_block .choise .arrow_circle:active {
  transition: transform 0.5s;
  transform: rotate(180deg);
}
.contacts_section .contacts_container .choise_block .choise .arrow_circle .arrow {
  width: 8px;
  height: 5px;
}

.footer .footer_container {
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 125%;
  line-height: 50px;
  max-width: 1220px;
  margin: 0 auto;
}
@media screen and (max-width: 1219px) {
  .footer .footer_container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 768px) {
  .footer .footer_container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 380px) {
  .footer .footer_container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (max-width: 1100px) {
  .footer .footer_container {
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 18px;
    line-height: 30px;
  }
}
@media screen and (max-width: 380px) {
  .footer .footer_container {
    padding-top: 19px;
    padding-bottom: 7px;
  }
}
.footer .footer_container .text_block1 {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 380px) {
  .footer .footer_container .text_block1 {
    gap: 23px;
  }
}
.footer .footer_container .text_block1 .github:hover {
  transition: transform 0.5s;
  transform: scale(1.2);
}
.footer .footer_container .text_block1 .github:active {
  transition: transform 0.5s;
  transform: rotate(180deg);
}
.footer .footer_container .text_block1 .github a {
  color: #010201;
}
.footer .footer_container .text_block1 .github a:hover {
  color: #e06733;
}
.footer .footer_container .text_block1 .github a:active {
  color: #499a18;
}
.footer .footer_container .text_block2 {
  padding-left: 17px;
}
@media screen and (max-width: 1100px) {
  .footer .footer_container .text_block2 {
    padding-left: 0px;
  }
}
.footer .footer_container .text_block2 p:hover {
  transition: transform 0.5s;
  transform: scale(1.2);
}
.footer .footer_container .text_block2 p:active {
  transition: transform 0.5s;
  transform: rotate(180deg);
}
.footer .footer_container .text_block2 p a {
  color: #010201;
}
.footer .footer_container .text_block2 p a:hover {
  color: #e06733;
}
.footer .footer_container .text_block2 p a:active {
  color: #499a18;
}
.footer .footer_container .media_block {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .footer .footer_container .media_block {
    padding-top: 11px;
  }
}
@media screen and (max-width: 380px) {
  .footer .footer_container .media_block {
    padding-top: 0px;
  }
}
.footer .footer_container .media_block .media_list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer .footer_container .media_block .media_list .media_item {
  cursor: pointer;
}
.footer .footer_container .media_block .media_list .media_item:hover {
  transition: transform 0.5s;
  transform: scale(1.2);
}
.footer .footer_container .media_block .media_list .media_item:active {
  transition: transform 0.5s;
  transform: rotate(180deg);
}
.footer .footer_container .media_block .media_list .media_item .media_link {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */